.form {
    grid-column: 2 / 3;
}

.box {
    max-width: 768px;
    margin-inline: auto;
    position: relative;
    display: flex;
    align-items: stretch;
    background-color: var(--background);
    border-radius: 8px;
    border: 1px solid var(--ui-border);
    outline: 0px solid transparent;
    transition: outline .3s ease-in-out;
}

.box:has(.input:focus-visible) {
    outline: 2px solid #fdb71d;
    outline-offset: 2px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.input {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    border: 0px none transparent;
    padding-block: 9px;
    outline-width: 2px;
    border-radius: 0 8px 8px 0;
}

.input::placeholder {
    color: oklch(55.1% 0.027 264.364);
}

.input:focus-visible {
    outline: 0 none;
}

.submit {
    /* dark:invert */
    order: -1;
    appearance: none;
    border: 0 none;
    background-color: transparent;
    padding-inline: 0.75em;
    margin-top: 1px;
}

.icon {
    display: block;
    height: 24px;
    width: 24px;
    color: oklch(55.1% 0.027 264.364);
}

@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert(1);
    }
}

.input:focus ~ .icon {
    color: oklch(21% 0.034 264.665);
}

.reset {
    order: 1;
    appearance: none;
    border: 0;
    background-color: transparent;
    padding-inline: 0.75em;
    margin-top: 1px;
}