.container {
    --color-primary: var(--gray);
  display: flex;
  gap: 8px;
  justify-content: flex-end; /* Align to the right */
  background-color: var(--ui-background);
  border-radius: 23px;
  padding: 4px;
  width: fit-content;
  box-shadow: inset 0 1px 3px rgba(0 0 0 / 35%);
}

.button {
  --highlights: rgba(255 255 255 / 25%);
  --shadows: rgba(0 0 0 / 10%);
  background: var(--ui-background);
  border: 1px solid var(--ui-border);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px var(--shadows), -2px -2px 4px var(--highlights);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--gray);
  border-color: var(--ui-border-hover);
}

.button:hover img {
    filter: brightness(0) invert(1);
}

.button.active {
  --shadows: rgba(0 0 0 / 15%);
  --highlights: rgba(255 255 255 / 35%);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  background-image: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 2px 2px 4px var(--shadows), -2px -2px 4px var(--highlights);
}

.button.active img {
  filter: brightness(0) invert(1); /* Make icon white when active */
}

@media (prefers-color-scheme: dark) {
  .button {
    --highlights: rgba(255 255 255 / 15%);
  }

  .button img {
    filter: invert(0.81);
  }

  .button.active {
    --highlights: rgba(255 255 255 / 15%);
  }
}