.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  --orange: #ee6b2f;

  min-height: 100svh;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.header {
  text-align: center;
  padding-block: 2em;
  background-image: radial-gradient(circle at center,rgba(255,255,255,.1) .0938rem,transparent 0),linear-gradient(180deg,rgba(0,128,179,.75),rgba(0,128,179,.95) 100.06%);
  background-position: top,top;
  background-repeat: round,no-repeat;
  background-size: .5625rem .5625rem,100% 100%;
  border-bottom: 2px solid #fff;
}

.content {
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, rgba(255 255 255 / 35%));
  background-color: #f5f5f5;
  background-attachment: fixed;
  --size: calc(var(--base) * 3);
  --base: 12px; /* multiple of 6 */
  --gap: 2px;
  background-image:
    repeating-linear-gradient(to bottom, transparent, transparent var(--size), var(--background) var(--size), var(--background) calc(var(--size) + var(--gap))),
    repeating-linear-gradient( 60deg, transparent, transparent var(--size), var(--background) var(--size), var(--background) calc(var(--size) + var(--gap)) ),
    repeating-linear-gradient( 120deg, transparent, transparent var(--size), var(--background) var(--size), var(--background) calc(var(--size) + var(--gap)) );
  background-size: 100% 100%;
  background-position: center 0px, center var(--base), center var(--base);
}

@media (prefers-color-scheme: dark) {
  .content {
    background-color: #313131;
    background-image: linear-gradient(to bottom, transparent, var(--background));
    background-image:
      repeating-linear-gradient(to bottom, transparent, transparent var(--size), var(--ui-background) var(--size), var(--ui-background) calc(var(--size) + var(--gap))),
      repeating-linear-gradient( 60deg, transparent, transparent var(--size), var(--ui-background) var(--size), var(--ui-background) calc(var(--size) + var(--gap)) ),
      repeating-linear-gradient( 120deg, transparent, transparent var(--size), var(--ui-background) var(--size), var(--ui-background) calc(var(--size) + var(--gap)) );
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--orange);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.search-and-toggle {
    padding-block: 1em 1.25em;
    padding-inline: 12px;
    background-color: var(--ui-background);
}

@media all and (width >= 600px) {
    .search-and-toggle {
        padding-block: 1em 4em;
    }
}

@media screen and (width = 1280px) {
    .search-and-toggle {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 77.34375% 100%, 73.59375% 61.290323%, 26.40625% 61.290323%, 22.65625% 100%, 0 100%);
    }
}

@media all and (width >= 1280px) {
  .search-and-toggle {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 72.5% 1fr;
  }
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
